@media (max-width: 767px) {
    .about-banner {
        padding: 50% 0;
    }

    .about-banner2 {
        background: linear-gradient(to bottom, white 80%, #e2e1df 20%);
    }

    .about-video2 {
        height: 350px;
    }
}

@media (max-width: 991px) and (min-width: 768px) {
    .about-banner {
        padding: 30% 0;
    }

    .about-banner2 {
        background: linear-gradient(to bottom, white 75%, #e2e1df 25%);
    }

    .about-video2 {
        height: 475px;
    }
}

@media (min-width: 992px) {
    .about-banner {
        padding: 10% 0 15% 0;
    }

    .about-banner2 {
        background: #e2e1df;
    }

    .about-video {
        height: 600px;
    }
}