.dashboard-free-text {
    text-align: center;
    padding: 40px 0 30px 0;
    background: lightgrey;
}

.news-article {
    height: 100%;
    box-shadow: 0 0.15rem 0.25rem rgba(0,0,0,.15);
    border-radius: 1rem;
}

@media (max-width: 767px) {
    .dsl-image {
        position: relative;
        margin: 0 auto;
        right: 300px;

        -webkit-transform: scale(0.8); /* Saf3.1+, Chrome */
            -moz-transform: scale(0.8); /* FF3.5+ */
            -ms-transform: scale(0.8); /* IE9 */
            -o-transform: scale(0.8); /* Opera 10.5+ */
                transform: scale(0.8);
    }
}

@media (max-width: 991px) {
    .dashboard-news .scroller {
        overflow: auto;
    }

    .dashboard-news .row {
        width: 300%;
    }
}

@media (max-width: 991px) and (min-width: 768px) {
    .dsl-image {
        position: relative;
        right: 110%;
    }
}

@media (min-width: 992px) {
    .banner-carousel-item {
        background: linear-gradient(-50deg, white calc(50% - 1px), #323232 50%);
    }

    .dsl-image {
        position: relative;
        right: 40%;
    }
}