
.top-selected {
    text-align: center;
    /* background-color: #484848; */
    color: black !important;
}

.top-unselected {
    text-align: center;
    background-color: white;
    color: black !important;
}

.input-box{
    width: 100%;
    text-overflow: ellipsis;
    /* white-space: nowrap;
    overflow: hidden; */
}

@media screen and (max-width: 991px) {
    .item-selected {
        /* background: linear-gradient(-135deg, #ff5001 40px, #ececec 0); */
        color: black;
    }
}

.item-selected {
    border: 2px #ff5001 solid;
    border-radius: 10px;
    color: #ff5001;
    position: relative;
}

.item-unselected {
    background-color: #d4d4d4;
    border: 2px #cccccc solid;
    border-radius: 10px;
    position: relative;
}