@media (max-width: 767px) {
    .career-banner {
        padding-top: 100px;
        padding-bottom: 100px;
    }
}

@media (max-width: 991px) and (min-width: 768px) {
    .career-banner {
        padding-top: 70px;
        padding-bottom: 70px;
    }
}

@media (min-width: 992px) {
    .career-banner {
        padding-top: 40px;
        padding-bottom: 40px;
    }
}