.item-selected .frequency-p{
    color: black;
}

.panel-heading-selected {
    background-color: black;
}

.panel-heading-unselected {
    background-color: white;
}

.panel-title-selected {
    color: white;
}

.panel-title-unselected {
    color: black;
}

.color-grey {
    color: #828282;
}

.div-text-center{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.item-selected{
    border: 2px #ff5001 solid;
    border-radius: 5px;
    color: #ff5001;
    position: relative;
}
.item-selected .frequency-p{
    color: black;
}

.item-unselected{
    background-color: #ececec;
    border: 2px #cccccc solid;
    border-radius: 5px;
}
.addon-cycle-product{
    padding-top: 2%; 
    text-align: center; 
    vertical-align: middle;
    background-color: #ececec;
    border: 2px #cccccc solid;
    border-radius: 5px;
}

.modal-header-addon-cycle{
border:none !important;
}

.modal-footer-btn{
padding-top: 4%;
text-align: center;
padding-bottom: 4%; 
}

.btn-every-shipping{
    color: #fff;
    background-color: #ff5001;
    border-color: #ff5001;
    padding: 10px;
    margin-right: 10px;
    width: 240px;
    text-align: center;
}

.btn-every-shipping:hover{
    color: #fff;
    background-color: #ff5001;
    border-color: #ff5001;
}

.btn-one-shipping{
    color: black;
    background-color: #fff;
    border-color: black;
    padding: 10px;
    width: 240px;
    text-align: center;
}

.modal-dialog-changeannual-cycle{
    max-width: 640px !important;
}

.modal-dialog-addon-cycle{
    max-width: 640px !important;
}


@media screen and (max-width: 700px) {
    .btn-every-shipping{
        margin-right: 0;
    }
}

@media screen and (max-width: 650px) {
    .btn-every-shipping{
        margin-bottom: 2%;
    }
}


@media screen and (min-width: 992px) {
    .item-selected {
        /* background-color: #ff5001; */
    }

    .pt-lg-5 {
        padding-top: 5rem;
    }

    .or-fs{
        font-size: 1.5rem;
    }
}


@media screen and (max-width: 991px) {
    .item-selected{
        /* background: linear-gradient(-135deg, #ff5001 40px, #ececec 0); */
        color: black;
    }

    .tick-mark {
        height: 0.9rem;
    }

    #proceed-checkout, #button-next {
        width: 100% !important;
        border-radius: 0 !important;
    }

    .or-fs{
        font-size: 1.1rem;
    }
}

.d-inline-block {
    display: inline-block;
}

.product-group-title{
    font-weight: bold;
    text-align: center;
}

.button-proceed-checkout{
    background-color: #ff5001;
    color: white;
    border: none;
    border-radius: 5px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 30px;
    width: 12rem;
    cursor: pointer;
}

.button-proceed-checkout-cancel{
    border: solid 2px black !important;
    border-radius: 5px;
    background: rgba (255, 255, 255, 0);
    color: black !important;
    padding-top: 13px;
    padding-bottom: 13px;
    margin-bottom: 30px;
    width: 12rem;
    cursor: pointer;

}

.button-back{
    color: tomato;
    background-color: transparent;
    border: 0px;
    font-size: 15px;
    margin-top: 14px;
    margin-bottom: 14px;
}

button:focus {outline:0 !important;}

.display-none{
    display: none;
}

.text-item{
    font-size: 15px;
}

.ml-0 {
    margin-left: 0px;
}

.m-0 {
    margin: 0 auto;
}

.custom-bag-img{
    width: 20vw !important;
     /* visibility: hidden; */
}

.custom-shavesleeve-img{
    width: 6vw !important;
     /* visibility: hidden; */
}

.custom-aftershave-img{
    width: 9vw !important;
     /* visibility: hidden; */
}

.custom-shavecream-img{
    width: 8vw !important;
     /* visibility: hidden; */
}

.custom-swivelhandle-img{
    width:6vw !important;
     /* visibility: hidden; */
}

.custom-blade-img{
    width: 8vw !important;
}

.custom-img-div{
    margin-top: 12%;
    left: 5%;
}

.custom-bag-img-div{
    height: 200px;
    position: relative;
}

.custom-shavesleeve-img-div{
    height: 200px;
    position: relative;bottom: 14%;right: 33%;
}

.custom-aftershave-img-div{
    height: 200px;
    position: relative;bottom: 25%;left: 27%;
}

.custom-shavecream-img-div{
    height: 200px;
    position: relative;bottom: 53.2%;left: 10%;
}

.custom-swivelhandle-img-div{
    height: 200px;
    position: relative;bottom: 65.5%;right: 21%;
}

.custom-blade-img-div{
    height: 200px;
    position: relative;bottom: 72%;right: 7%;
}

@media (max-width: 1699px) and (min-width: 1300px) {
    .custom-img-div{
        left: 10% !important;
    }
    
    .custom-shavesleeve-img-div{
        position: relative;bottom: 15.1%;right: 30%;
    }
    
    .custom-aftershave-img-div{
        position: relative;bottom: 26.1%;left: 24%;
    }
    
    .custom-shavecream-img-div{
        position: relative;bottom: 52.7%;left: 8%;
    }
    
    .custom-swivelhandle-img-div{
        position: relative;bottom: 65.5%;right: 19%;
    }
    
    .custom-blade-img-div{
        position: relative;bottom: 73%;right: 8%;
    }
}

@media (max-width: 1299px) and (min-width: 1150px) {
    .custom-img-div{
        left: 10% !important;
    }
    
    .custom-shavesleeve-img-div{
        position: relative;bottom: 14.1%;right: 22%;
    }
    
    .custom-aftershave-img-div{
        position: relative;bottom: 27.1%;left: 17%;
    }
    
    .custom-shavecream-img-div{
        position: relative;bottom: 51.7%;left: 8%;
    }
    
    .custom-swivelhandle-img-div{
        position: relative;bottom: 65.5%;right: 14%;
    }
    
    .custom-blade-img-div{
        position: relative;bottom: 75%;right: 5%;
    }
}

@media (max-width: 1400px) and (min-width: 1150px) {
    .custom-img-div{
        left: 14% !important;
    }

}


@media (max-width: 1149px) and (min-width: 1000px) {
    .custom-img-div{
        left: 10% !important;
    }
    
    .custom-bag-img{
        width: 34vw !important;
    }
    .custom-shavecream-img {
        width: 13vw !important;
    }
    .custom-aftershave-img{
        width: 15vw !important;
    }
    .custom-blade-img{
        width: 13vw !important;
    }
    .custom-swivelhandle-img{
        width: 9vw !important;
    }

    .custom-shavesleeve-img{
        width: 9vw !important;
    }

    .custom-shavesleeve-img-div{
        position: relative;bottom: 11.1%;right: 27%;
    }
    
    .custom-aftershave-img-div{
        position: relative;bottom: 25.1%;left: 27%;
    }
    
    .custom-shavecream-img-div{
        position: relative;bottom: 51%;left: 8%;
    }
    
    .custom-swivelhandle-img-div{
        position: relative;bottom: 61.1%;right: 19%;
    }
    
    .custom-blade-img-div{
        position: relative;bottom: 68.1%;right: 8%;
    }
}


@media (max-width: 999px) and (min-width: 768px) {
    .custom-img-div{
        left: 10% !important;
    }
    
    .custom-bag-img{
        width: 34vw !important;
    }
    .custom-shavecream-img {
        width: 13vw !important;
    }
    .custom-aftershave-img{
        width: 15vw !important;
    }
    .custom-blade-img{
        width: 13vw !important;
    }
    .custom-swivelhandle-img{
        width: 9vw !important;
    }

    .custom-shavesleeve-img{
        width: 9vw !important;
    }

    .custom-shavesleeve-img-div{
        position: relative;bottom: 12.1%;right: 30%;
    }
    
    .custom-aftershave-img-div{
        position: relative;bottom: 26.1%;left: 27%;
    }
    
    .custom-shavecream-img-div{
        position: relative;bottom: 52%;left: 8%;
    }
    
    .custom-swivelhandle-img-div{
        position: relative;bottom: 64.1%;right: 19%;
    }
    
    .custom-blade-img-div{
        position: relative;bottom: 73.1%;right: 7%;
    }
}

@media (max-width: 1000px) and (min-width: 992px) {
    .custom-img-div{
        left: 12% !important;
    }
}

@media (max-width: 991px) and (min-width: 910px) {
    
    .custom-img-div{
        left: 2% !important;
    }

}
@media (max-width: 909px) and (min-width: 768px) {
    
    .custom-img-div{
        left: 5% !important;
    }

}
@media (max-width: 830px) and (min-width: 792px) {
    .custom-img-div{
        left: 10% !important;
    }
}
@media (max-width: 791px) and (min-width: 768px) {
    .custom-img-div{
        left: 12% !important;
    }
}

@media (max-width: 1200px) and (min-width: 768px) {
    .custom-img-div{
        left: 20%;
    }
}

/* mobile */
@media (max-width: 767px) and (min-width: 1px) {
    .custom-img-div{
        height: 40vw;
        max-height: 40vw;
        
    }
    .custom-bag-img{
        width: 40vw !important;
    }
    .custom-shavecream-img {
        width: 16vw !important;
    }
    .custom-aftershave-img{
        width: 18vw !important;
    }
    .custom-blade-img{
        width: 16vw !important;
    }
    .custom-swivelhandle-img{
        width: 12vw !important;
    }

    .custom-shavesleeve-img{
        width: 12vw !important;
    }

}

@media (max-width: 767px) and (min-width: 700px) {

    .custom-bag-img-div{
        position: absolute;
        left: 37%;
        top: -2%;
    }

    .custom-shavesleeve-img-div{
        position: absolute;
        bottom: 30%;
        left: 12%;
        right:0;
    }
    
    .custom-aftershave-img-div{
        position: absolute;
        bottom: 13.1%;
        left: 57%;
    }
    
    .custom-shavecream-img-div{
        position: absolute;    
        bottom: 51%;
        left: 44%;
    }
    
    .custom-swivelhandle-img-div{
        position: absolute;
        bottom: 35%;
        right: 62%;
    }
    
    .custom-blade-img-div{
        position: absolute;
        bottom: 0%;
        top: 31.5%;
        right: 46%;
    }
    
}

@media screen and (max-width: 400px) {
    .frequency-box-m{
        height: 180px;
    }

}

@media (max-width: 699px) and (min-width: 0px) {

    .custom-bag-img-div{
        height: auto;
        position: absolute;
        left: 37%;
        top: -5%;
    }

    .custom-shavesleeve-img-div{
        height: auto;
        position: absolute;
        bottom: 1%;
        left: 21%;
        right: 0;
    }
    
    .custom-aftershave-img-div{
        height: auto;
        position: absolute;
        bottom: 2.1%;
        left: 57%;
    }
    
    .custom-shavecream-img-div{
        height: auto;
        position: absolute;    
        bottom: 3%;
        left: 44%;
    }
    
    .custom-swivelhandle-img-div{
        height: auto;
        position: absolute;
        bottom: 1%;
        right: 60%;
    }
    
    .custom-blade-img-div{
        height: auto;
        position: absolute;
        bottom: 0%;
        top: 25.5%;
        right: 47%;
    }
    
}

#mobile-button{
    position: -webkit-sticky;
    position: fixed;
    bottom: 0;
    width: 100%;
    margin-bottom: 0 !important;
}

.button-proceed-checkout-mobile{
    background-color: #ff5001;
    color: white;
    border: none;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 100%;
}