.paddBtn {
    width: 100%;
}

.btn-fb-login {
    border: solid 2px #FE5000 !important;
    border-radius: 5px;
    background: rgba (255, 255, 255, 0);
    padding: 14px 28px;
    cursor: pointer;
    text-align: center;
    font-size: 16px !important;
    color: #FE5000 !important;
    margin: auto;
}

@media (max-width: 991px) {
    .paddBtn {
        padding: 15px;
    }
}

@media (min-width: 992px) { 
    .paddBtn {
        padding: 30px;
    }
}