.shaveplans-current, .shaveplans, .shaveplans-edit {
    background-color: #f5f5f5;
}

.fs-22 {
    font-size: 22px !important;
}

.btn-circle-edit {
    width: 20px;
    height: 20px;
    text-align: center;
    padding: 2px 0;
    font-size: 9px;
    line-height: 0;
    border-radius: 10px;
    background-color: #8f989d;
    color: white;
}

.btn-circle-delete {
    width: 20px;
    height: 20px;
    text-align: center;
    padding: 2px 0;
    font-size: 12px;
    line-height: 0.2;
    border-radius: 10px;
    border-color: #FF5001;
    background-color: white;
    color: #FF5001;
}

.btn-circle {
    width: 18px;
    height: 18px;
    border: none;
    border-radius: 10px;
    padding: 0px;
}

.btn-use {
    background-color: #FE5000 !important;
    cursor: pointer;
    text-align: center;
    color: white !important;
    border-radius: 0px 5px 5px 0px;
    font-size: 12px;
    margin: auto;
    position: absolute;
    padding: 8px 10px;
    right: 0px;
}

.item-selected{
    background:  #ff5001;
    border-radius: 10px;
    position: relative;
    color: black;
}

.custom-checkbox input:checked + span:before {
    content: "✔";
    color: black !important;
    font-size: 1rem;
}

.btn-black {
    display: block;
    border: none;
    background-color: #fe5000 !important;
    color: white !important;
    cursor: pointer;
    text-align: center;
    font-size: 16px;
    padding: 1.5% 0;
    color: white;
    margin: auto;
    width: 100%;
}

.btn-black:hover {
    color: white !important;
}

.plan-column-show{
    margin-top: 20%;
}

.desktop-view-plan {
    margin: 0;
    display: block;
    border: none;
    background-color: #fe5000 !important;
    color: white !important;
    cursor: pointer;
    text-align: center;
    font-size: 16px;
    color: white;
    width: 100%;
}

.ship-my-refill-btn {
    position: absolute;
    right: 10%;
}

@media screen and (min-width: 320px) and (max-width: 374px) {
    .btn-black {
        width: 80%;
    }
    .desktop-view-plan {
        margin: auto;
        width: 80%;
    }
    .ship-my-refill-btn {
        position: unset;
        right: unset;
    }
}

@media screen and (min-width: 375px) and (max-width: 767px){
    .btn-black {
        width: 70%;
    }
    .desktop-view-plan {
        margin: auto;
        width: 70%;
    }
    .ship-my-refill-btn {
        position: unset;
        right: unset;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .btn-black {
        width: 50%;
    }
    .desktop-view-plan {
        width: 90%;
    }
}

@media screen and (min-width: 1024px) {
    .btn-black {
        width: 35%;
    }
    .desktop-view-plan {
        width: 90%;
    }
}

@media screen and (min-width: 992px) {
    .status-tag {
        right: 0px;
        font-size: 16px;
    }

    .status-tag-edit {
        margin-right: -30px;
        font-size: 16px;
    }
}

@media screen and (max-width: 991px) {
    .tick-mark {
        height: 0.9rem;
    }

    .status-tag {
        margin-right: 0px;
        font-size: 12px;
    }

    .status-tag-edit {
        margin-right: -15px;
        font-size: 12px;
    }
}

.item-unselected{
    background-color: #ececec;
    border: 2px #cccccc solid;
    border-radius: 10px;
}

.tick-mark{
    position: absolute;
    top: 10px;
    right: 10px;
}

#shipping-address-toggle.active, #billing-address-toggle.active {
    text-decoration: underline;
}

.modal-content {
    border-radius: 20px;
}

@media (min-width: 992px) {
    .h-200-lg {
        height: 200px;
    }

    .bg-line {
        background: linear-gradient(#000, #000) no-repeat center/1px 100%;
        height: 30%;
    }
}

@media (max-width: 991px) {
    .h-64-sm {
        height: 64px;
    }

    .bg-line {
        background: linear-gradient(#000, #000) no-repeat center/100% 1px;
        height: 100%;
    }
}

