<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="google-site-verification" content="Rgg7LPFU0BIz9iK-cFLHohM_i6VezcSPOayZSNJfH1k" />
    <title>Shaves2U | 일상적인 사람을위한 완벽한 면도</title>
    <meta name="description" content="Shop for a quality razors, shavers, shaving cream and subscribe shave plans for men and women. Sign up to get your free trial now with Shaves2U.">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="ScreenOrientation" content="autoRotate:disabled">
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="icon" type="image/x-icon" href="favicon.ico">

    <!--Facebook Open Graph Metas-->
    <meta property="og:title" content="Shaves2U | 4,000원에 체험해보세요." />
    <meta property="og:url" content="https://shaves2u.com/assets/html/fbshare/fb-share-ko.html" />
    <meta property="og:description" content="면도기 정기배송으로 언제나 깔끔한 면도감을 즐겨보세요. 수염과 가격거품을 한번에 밀어주는 3, 5, 6중날로 당신을 위한 커스텀 면도가 지금 시작됩니다." />
    <meta property="og:image" content="{{ asset('images/common/referral_share/S2U-Referal-Image-Korea.jpg') }}" />
    <meta property="og:type" content="website" />
    <meta property="fb:app_id" content="285747145163644" />
    <!--End Facebook Open Graph Metas-->

    <script type="text/javascript" src="//connect.facebook.net/en_US/sdk.js" async></script>
</head>

<body>
    <!-- <h1>Todo Write Content</h1> -->
</body>

<script>
    var url_string = new URL(window.location.href);
    var x = url_string.searchParams.get("ref");
    var y = url_string.searchParams.get("src");
    var z = url_string.searchParams.get("fbclid");
    var redirectPage = "https://shaves2u.com/shave-plans/free-trial?ref=" + x + "&src=fb&fbclid=" + z ;
    window.location = redirectPage;
</script>

</html>
