.product-banner {
    position: relative;
    background-size: cover;
    height: 40vw;
    background-position: contain;
    background-repeat: no-repeat;
}

.grey_background {
    background: #d4d4d4;
}

.grey-gradient {
    background: linear-gradient(to bottom, #d4d4d4 80%, white 20%);
}

.handle-banner {
    position: relative;
    background-size: cover;
    height: 700px;
    background-position: center;
    background-repeat: no-repeat;
}

.product-other-banner {
    position: relative;
    background-size: cover;
    height: 700px;
    background-position: center;
    background-repeat: no-repeat;
}

.btn-custom {
    margin-bottom: 15px;
    font-size: 0.9rem;
    width: 240px;
    border-radius: 0.25rem;
}

.btn-custom-2 {
    margin-bottom: 15px;
    font-size: 0.9rem;
    width: 220px;
    border-radius: 0.25rem;
    color: #FE5000 !important;
    background-color: #fff !important;
}

.product-h-title {
    color: #47545c;
}

.product-h-sub {
    padding-bottom: 10px;
    line-height: 25px;
}

.product-p {
    font-size: 1.2rem;
}

.product-blade-info {
    position: absolute;
    z-index: 20;
    top: 35%;
    left: 15%;
    text-align: center;
    width: 30rem;
}

.white {
    color: #fff;
}

.product-orange-bg {
    background: linear-gradient(to bottom, #FE5000 65%, white 40%);
}

.get-started-font {
    margin-bottom: 5%;
    margin-top: 2%;
    font-family: Muli-ExtraBold;
    font-size: 1.7rem;
}

.get-started-sub-font {
    margin-bottom: 16%;
    margin-top: 5%;
    font-family: Muli;
    font-size: 18px;
    color: white;
}

.product-free-text {
    text-align: center;
    padding: 60px 0 50px 0;
    background-color: #8e979e;
}

#product_carousel li {
    background-color: #7f7f7f !important;
}

#product_carousel li.active {
    background-color: #FF5001 !important;
}

.product-sleeve-bag {
    text-align: center;
    padding-right: 2%;
    padding-top: 5%;
    padding-bottom: 5%;
}

.product-sleeve-bag-border {
    border: 1px solid #eaeaea;
    background: #eaeaea;
    border-radius: 10px;
}

.product-sleeve-bag-img {
    height: 300px;
}

.product-sleeve-bag-title {
    padding-top: 5%;
}

.product-sleeve-bag-p {
    font-size: 16px;
    padding-bottom: 2%;
}

.product-sleeve-bag-p2 {
    font-size: 14px;
    padding-bottom: 5%;
}

.white-bg {
    background-color: #fff;
}

.darkgrey-bg {
    background-color: #252525;
}

.blurb_fix {
    border: 4px solid #000;
    border-right: none;
    position: fixed;
    right: 0px;
    bottom: 20%;
    width: 19%;
    height: auto;
}

.blurb_font {
    font-size: 1.5rem;
    line-height: 1.3;
}

.blurb_img {
    float: left;
    border-radius: 10px;
    box-shadow: -0.2rem 0.2rem 0rem rgba(0, 0, 0, 0.5)!important;
}

.button-back {
    background-color: transparent;
    border: 0px;
    font-size: 15px;
    margin-top: 14px;
    margin-bottom: 14px;
}

.handle-btn {
    text-align: center;
    color: white;
    margin: auto;
    margin-bottom: 2rem;
    font-size: 20px;
    width: 300px;
    padding: 14px 28px;
    border: none;
    background-color: #FE5000;
    border-radius: 5px;
}

.scream_width {
    width: 20%;
}

.scream-grey-bg {
    background: linear-gradient(to bottom, #d4d4d4 60%, white 40%);
}

.blade-grey-bg {
    background: linear-gradient(to bottom, #d4d4d4 65%, white 40%);
}

.orange-item-selected {
    border: 6px #ff5001 solid;
    border-radius: 10px;
    position: relative;
}

.orange-font-selected {
    color: #ff5001
}

.item-selected {
    background-color: #ff5001;
    border: 2px #ff5001 solid;
    border-radius: 10px;
    color: #fff;
    position: relative;
}

.item-unselected {
    background-color: #ececec;
    border: 2px #cccccc solid;
    border-radius: 5px;
}

.tick-mark {
    position: absolute;
    top: 9px;
    right: 9px;
}

.carousel-indicators li {
    background-color: black !important;
}

.carousel-indicators li.active {
    background-color: #fff !important;
}

.carousel-indicators {
    top: 100px;
}

.seo-meta {
    margin-bottom: 2%;
    margin-top: 2%;
}

.btn-start {
    width: 240px;
}

.seo-meta-sub {
    margin-top: 2%;
}

.product-other-banner-m {
    width: 100%;
}

.product-other-banner1 {
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 10% 0;
    position: relative;
}

.product-other-banner2 {
    background-size: 100%;
    background-repeat: no-repeat;
}

.product-other-banner3 {
    background-size: 100%;
    background-repeat: no-repeat;
}

.product-other-banner4 {
    background-size: 100%;
    background-repeat: no-repeat;
}

.product-other-banner5 {
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 35% 0;
}

.product-other-banner6 {
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 85% 0;
}

.product-other-banner7 {
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 15% 0;
}

.blade-width {
    width: 50%;
}

@media screen and (max-width: 1550px) and (min-width: 992px) {
    .product-other-banner1 {
        background-size: 900px;
        background-repeat: no-repeat;
        background-position: -20% 0;
    }
    .product-other-banner2 {
        background-size: 100%;
        background-repeat: no-repeat;
    }
    .product-other-banner3 {
        background-size: 100%;
        background-repeat: no-repeat;
    }
    .product-other-banner4 {
        background-size: 100%;
        background-repeat: no-repeat;
    }
    .product-other-banner5 {
        background-size: 600px;
        background-repeat: no-repeat;
        background-position: 10% 0;
    }
    .product-other-banner6 {
        background-size: 500px;
        background-repeat: no-repeat;
        background-position: 90% 0;
    }
    .product-other-banner7 {
        background-size: 900px;
        background-repeat: no-repeat;
        background-position: -20% 0;
    }
}

@media screen and (max-width: 992px) and (min-width: 501px) {
    .product-other-banner1 {
        position: relative;
        background-size: 400px;
        height: 400px;
        background-position: 55% 75%;
        background-repeat: no-repeat;
    }
    .product-other-banner2 {
        position: relative;
        background-size: 400px;
        height: 400px;
        background-position: 50% 75%;
        background-repeat: no-repeat;
    }
    .product-other-banner3 {
        position: relative;
        background-size: 400px;
        height: 400px;
        background-position: 50% 75%;
        background-repeat: no-repeat;
    }
    .product-other-banner4 {
        position: relative;
        background-size: 400px;
        height: 400px;
        background-position: 50% 75%;
        background-repeat: no-repeat;
    }
    .product-other-banner5 {
        position: relative;
        background-size: 300px;
        height: 400px;
        background-position: 50% 60%;
        background-repeat: no-repeat;
    }
    .product-other-banner6 {
        position: relative;
        background-size: 300px;
        height: 400px;
        background-position: 50% 75%;
        background-repeat: no-repeat;
    }
    .product-other-banner7 {
        position: relative;
        background-size: 400px;
        height: 400px;
        background-position: 50% 75%;
        background-repeat: no-repeat;
    }
}

@media screen and (max-width:500px) {
    .product-other-banner1 {
        position: relative;
        background-size: cover;
        height: 400px;
        background-position: 100% 75%;
        background-repeat: no-repeat;
    }
    .product-other-banner2 {
        position: relative;
        background-size: cover;
        height: 400px;
        background-position: 50% 75%;
        background-repeat: no-repeat;
    }
    .product-other-banner3 {
        position: relative;
        background-size: cover;
        height: 400px;
        background-position: 50% 75%;
        background-repeat: no-repeat;
    }
    .product-other-banner4 {
        position: relative;
        background-size: cover;
        height: 400px;
        background-position: 50% 75%;
        background-repeat: no-repeat;
    }
    .product-other-banner5 {
        position: relative;
        background-size: 300px;
        height: 400px;
        background-position: 50% 60%;
        background-repeat: no-repeat;
    }
    .product-other-banner6 {
        position: relative;
        background-size: 300px;
        height: 400px;
        background-position: 50% 75%;
        background-repeat: no-repeat;
    }
    .product-other-banner7 {
        position: relative;
        background-size: cover;
        background-position: 100% 75%;
        background-repeat: no-repeat;
    }
}

@media screen and (min-width: 1025px) {
    .get-started-font {
        margin-top: 9.5rem;
        color: white;
    }
    .banner-title-top {
        padding-top: 12%;
    }
    .word-padd {
        padding-top: 13%;
    }
    .word-padd-2 {
        padding-top: 8%;
    }
    .handle-word-padd {
        margin-top: 30%;
    }
    .scream-word-padd {
        margin-top: 4%;
    }
    .btn-product-custom {
        margin-bottom: 15px;
        font-size: 0.9rem;
        border-radius: 0.25rem;
        width: 240px;
    }
    .btn-product-custom-2 {
        margin-bottom: 15px;
        font-size: 0.9rem;
        width: 400px;
        border-radius: 0.25rem;
        color: #FE5000 !important;
        background-color: #fff !important;
    }
    .product-blade-info {
        position: absolute;
        z-index: 20;
        top: 35%;
        left: 15%;
        text-align: center;
        width: 30rem;
    }
    .indicators-position {
        top: 100px;
    }
}

@media screen and (max-width: 1024px) and (min-width: 769px) {
    .product-banner {
        position: relative;
        background-size: cover;
        height: 800px;
        background-position: 20%;
        background-repeat: no-repeat;
    }
    .product-banner {
        position: relative;
        background-size: cover;
        height: 800px;
        background-position: center;
        background-repeat: no-repeat;
    }
    .get-started-font {
        margin-top: 6.5rem;
        color: white;
    }
    .banner-title-top {
        padding-top: 20%;
    }
    .handle-word-padd {
        margin-top: 30%;
    }
    .scream-word-padd {
        margin-top: 12%;
    }
    .word-padd {
        padding-top: 23%;
    }
    .word-padd-2 {
        padding-top: 15%;
        padding-left: 24% !important;
    }
    .btn-product-custom {
        margin-bottom: 15px;
        font-size: 0.9rem;
        width: 300px;
        border-radius: 0.25rem;
    }
    .btn-product-custom-2 {
        margin-bottom: 15px;
        font-size: 0.9rem;
        width: 300px;
        border-radius: 0.25rem;
        color: #FE5000 !important;
        background-color: #fff !important;
    }
    .product-blade-info {
        position: absolute;
        z-index: 20;
        top: 20%;
        left: 5%;
        text-align: center;
        width: 30rem;
    }
    .blurb_fix {
        bottom: 20%;
        width: 35%;
    }
    .scream_width {
        width: 40%;
    }
    .height108md {
        min-height: 108px;
    }
    .indicators-position {
        top: 100px;
    }
}

@media screen and (max-width: 768px) {
    .product-banner {
        position: relative;
        background-size: cover;
        height: 430px;
        background-position: 100% 10%;
        background-repeat: no-repeat;
    }
    .product-other-banner {
        position: relative;
        background-size: cover;
        height: 550px;
        background-position: 100% 75%;
        background-repeat: no-repeat;
    }
    .product-cream-banner {
        position: relative;
        background-size: cover;
        height: 600px;
        background-position: 100% 60%;
        background-repeat: no-repeat;
    }
    .btn-product-custom {
        margin-bottom: 15px;
        font-size: 0.9rem;
        width: 200px;
        border-radius: 0.25rem;
    }
    .blurb_fix {
        bottom: 20%;
        width: 47%;
    }
    .handle-word-padd {
        margin-top: 8%;
    }
    .scream_width {
        width: 50%;
    }
}

@media screen and (max-width: 768px) and (min-width: 577px) {
    .get-started-font {
        margin-top: 0.5rem;
        color: white;
    }
    .height100md {
        height: 100px;
    }
    .blademargT {
        margin-top: 15px;
    }
    .handle-banner {
        height: 900px;
    }
    .indicators-position {
        top: 130px;
    }
}

@media screen and (max-width:767px) {
    .product-orange-bg {
        background: linear-gradient(to bottom, #FE5000 40%, white 30%);
    }
}

@media screen and (max-width: 576px) {
    .carousel-indicators {
        top: 160px;
    }
    
    .get-started-font {
        color: #ff5001;
    }
    .get-started-sub-font {
        color: #ff5001;
    }
    .product-p {
        font-size: 1rem;
    }
    .blurb_fix {
        bottom: 20%;
        width: 80%;
    }
    .blurb_font {
        font-size: 1rem;
    }
    .blurb_img {
        width: 75px;
    }
    .handle-btn {
        font-size: 20px;
        width: 100%;
        margin-bottom: 0rem;
        border-radius: 0px;
    }
    .scream-grey-bg {
        background: linear-gradient(to bottom, #d4d4d4 30%, white 20%);
    }
    .scream_width {
        width: 30%;
    }
    .indicators-position {
        top: 175px;
    }
}


/** iPhone5 **/

@media screen and (max-width: 320px) {
    .indicators-position {
        top: 200px;
    }
}