.dropdown-toggle::after {
    display: none;
}

.dropdown-toggle {
    font-weight: 700;
}

.card, .card-header {
    text-align: left;
    border: none !important;
}

.card-header, .card-body {
    padding-left: 15px;
    padding-right: 15px;
}

.nav-link {
    line-height: 18px;
}

.nav-link.active {
    border: none !important;
    color: #fe5000 !important;
    background-color: white !important;
    font-weight: 700;
}

.nav-link:hover {
    border: none !important;
}

@media (max-width: 767px) {
    .fa.fa-angle-right {
        font-size: 1.5rem;
    }
}

.faq-desktop .nav-item {
    max-width: 12.5%;
}

.card-body p {
    margin-bottom: 0;
}

hr {
    margin: 0;
}
