.hidden{
    display: none;
}

.address-billing-checkbox {
    height:20px;
}

.summary-number{
    color:#FE5000;
   }

.panel-heading-selected {
    background-color: black;
}

.input-group-addon .fa-angle-right {
    -webkit-text-stroke: 1px white;
    color: black;
    font-size: 2rem !important;
}

.form-control {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #dee2e6!important;
}

.panel-heading-unselected {
    background-color: white;
}

.panel-title-selected {
    color: white;
}

.panel-title-unselected {
    color: black;
}

.button-back {
    color: tomato;
    background-color: transparent;
    border: 0px;
    font-size: 15px;
    margin-top: 14px;
    margin-bottom: 14px;
}

.panel-collapse {
    background-color: #eaeaea !important;
}

.panel-collapse-white {
    background-color: white !important;
}

button:focus {
    outline: 0 !important;
}

.display-none {
    display: none;
}

.box-white {
    background-color: white;
    border: 1px white solid;
    border-radius: 20px;
    padding: 20px;
}

input {
    background-color: white;
    padding: 5px;
    width: 100%;
}

.button-edit-account {
    background-color: white;
    color: black;
    border-color: tomato;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    width: 100%;
}

.button-proceed-checkout {
    background-color: tomato;
    color: white;
    border-color: tomato;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 30px;
    width: 100%;
}

.grey-bg{
    background-color: #eaeaea !important 
}

.checkout-content-desktop {
    background-color: #eaeaea !important;
}

.bg-card {
    background-repeat: no-repeat;
    background-size: 100% 90%;
    background-position: cover;
}

.credit-card-bg {
    background-image: url('/images/cards/visa_card.png');
}

.card-index {
    background-color: white;
    height: 20px;
    width: 20px;
    border-radius: 10px;
    margin-top: 10px;
}

.card-number {
    letter-spacing: 5px;
}

.custom-image {
    max-width: 50% !important;
    height: auto !important;
    margin-left: 20px !important;
}

.modal-dialog{
    max-width: 600px !important;
    }
    .modal-trial-plan-text{
        line-height: 1.5 !important;
    }
    .modal-trial-plan-text-a{
        color: #ff5001 !important;
    }
    .modal-header-trial-plan-exist{
        border:none !important;
        }
    

@media (max-width: 767px) {
    .btn-load-more {
        width: 100% !important;
        font-size: 12px !important;
    }

    .btn-load-more-fb {
        width: 100% !important;
        font-size: 12px !important;
    }
}