@keyframes pulse {
    from {
      box-shadow:  0 0 0 0 rgba(255,255,255,1),
                   0 0 0 0 #ff5001;
    }
    to {
      box-shadow:  0 0 0 0.3em rgba(255,255,255,1),
                   0 0 0 0.35em black;
    }
  }

  .hasError {
    color: red;
}


.successmessage {
    color: #FE5000;
}

  .pulse-single {
    border-radius: 50%;
    cursor: pointer;
  }

  .pulse-single:active {
    animation: pulse 0.1s 1 ease-out;
    color:black !important;
  }

.modal-dialog-emailShare{
 width: 600px;
  }

.modal-header-email-send{
    border: none !important;
}

.button-proceed-checkout{
    background-color: #ff5001;
    color: white;
    border: none;
    border-radius: 5px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 30px;
    width: 12rem;
}

.referrals-content {
    padding-bottom: 200px;
}

.referrals-counter {
    background: linear-gradient(to right, #f87d15 50%, #f94f01);
}

.border-orange{
    border: 1px #ff5001 solid;
    border-radius: 2px;
    color: #ff5001;
    position: relative;
}

.social-share-btn
{
    right: 5%;
}

.email-share-btn
{
    right: 1.5%;
}

.fs-17 {
    font-size: 17px !important;
}

#social-links{
    width: 100%;
    text-align: center;
    margin: auto;
}
#social-links>ul{
    margin: auto;
    display: inline-flex;
    list-style: none !important;
    width: 100%;
    padding: 0px;
}
#social-links>ul>li:nth-child(odd){
    font-size: 0.9375rem;
    width: 100%;
    margin: 0 0 0 5%;
}
#social-links>ul>li:nth-child(even) {
    font-size: 0.9375rem;
    width: 100%;
    margin: 0 0 0 5%;
}

#email-links{
    width: 100%;
    text-align: center;
    margin: auto;
}
#email-links>ul{
    margin: auto;
    display: inline-flex;
    list-style: none !important;
    width: 100%;
    padding: 0px;
}
#email-links>ul>li:nth-child(odd){
    font-size: 0.9375rem;
    width: 100%;
    margin: 0 0 0 5%;
}
#email-links>ul>li:nth-child(even) {
    font-size: 0.9375rem;
    width: 100%;
    margin: 0 0 0 5%;
}

.referral-link-box{
    padding-right: 40px;
}

.share-now-column{
    margin-top: 15px;
    left: 3%;
}
@media only screen and (max-width:991px) {
    .share-now-column{
        margin-top: unset;
        left: unset;
    }
}
.share-via-column{
    left: 2%;
}

@media (max-width: 991px) {
    .referrals-desc h4 {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .referrals-container {
        padding: 0px 0px 10px 0px;
    }

    .referrals-share {
        padding-bottom: 10px;
        display: flex;
        align-items: center;
    }

    .referrals-news {
        padding: 20px 0;
        background-color: #f5f5f5;
    }

    .padd-md30-lg50 {
        padding: 10px 30px;
    }
}

@media (min-width: 992px) {

    .referrals-container {
        padding: 10px 50px;
    }

    .referrals-news {
        padding: 20px 100px;
    }

    .padd-md30-lg50 {
        padding: 10px 50px;
    }
}
.referrals-content {
    background-color: #f5f5f5;
}

p.fs-16, p.fs-12 {
    margin-top: 5px;
    margin-bottom: 5px;
}

.form-control-2 {
    display: block;
    width: 100%;
    height: calc(2.19rem + 2px);
    padding: .375rem .75rem;
    font-size: .9rem;
    line-height: 1.6;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid black;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.fa-files-o, .fa-link {
    font-size: 2rem;
    color: #ff5001;
    background-color: transparent;
    cursor: pointer;
}

@media (max-width: 600px) {
.modal-dialog-emailShare{
    width: 96%;
     }
}

@media (max-width: 892px) and (min-width: 519px) {
    .social-share-btn{
        right: 8%;
    }
    .email-share-btn
    {
        right: 7%;
    }
}

@media (max-width: 518px) and (min-width: 451px) {
    .social-share-btn{
        right: -1%;
    }
    .email-share-btn
    {
        right: -3%;
    }
}

@media (max-width: 450px) {
    .social-share-btn{
        left: 3%;
    }
    .email-share-btn
    {
        left: 3%;
    }
}

@media (max-width: 320px) {
    .social-share-btn{
        left: 3%;
    }
    .email-share-btn
    {
        left: 4%;
    }
    #email-links{
        width: 90%;
    }
}
