label {
    opacity: 0.5;
}

.bord-bot {
    border-bottom: 1px solid rgba(0, 0, 0, .15);
}

.fa-angle-right {
    -webkit-text-stroke: 1px white;
    color: black;
}

#show_hide_password a, a:hover{
    color:#333
}

.bg-card {
    background-repeat: no-repeat;
    background-size: contain;
}

.error {
    font-weight: bold;
    font-size: 16px;
    padding: 0;
    margin: 0;
}

@media (max-width: 575px) {
    .bg-card {
        max-height: 200px;
    }

    .card-number {
        font-size: 12px !important;
        letter-spacing: 5px;
        margin-left: 1.75rem;
        margin-right: 1.75rem;
    }

    .card-details {
        margin-top: 30px !important;
    }
    

    .card-details.mastercard {
        margin-top: 25px !important;
    }

    .card-holder {
        margin-left: 30px !important;
    }

    .card-holder.mastercard {
        font-size: 13px;
    }

    .card-expiry {
        margin-right: 5px !important;
    }

    .card-expiry.mastercard {
        font-size: 13px;
    }
}

@media (max-width: 991px) {
    .scroller {
        overflow: auto;
        padding-left: 55px;
        margin-right: -55px;
        margin-left: -55px;
    }

    .scroll-div {
        width: 190%;
    }
}

::placeholder {
    font-weight: 700px;
    opacity: 1;
}

#user_name::placeholder {
    color: #fe5000;
}

:-ms-input-placeholder {
    font-weight: 700px;
    opacity: 1;
}

#user_name:-ms-input-placeholder {
    color: #fe5000;
}

::-ms-input-placeholder {
    font-weight: 700px;
    opacity: 1;
}

#user_name::-ms-input-placeholder {
    color: #fe5000;
}

input  {
    padding-left: 0 !important;
}

.personal-details, .address-details, .payment-method {
    background-color: #f5f5f5;
}

/*
@media (max-width: 991px) {
    .personal-details {
        background: linear-gradient(80deg, #f87d15 30%, #f94f01);
    }
}
*/

@media (min-width: 992px) {

    .personal-details {
        padding-top: 40px;
        
    }

    .payment-method {
        padding-bottom: 40px;
    }

    .card-number {
        margin-top: 1rem;
        margin-left: 7rem;
        letter-spacing: 5px;
    }
}