.ml-20 {
    margin-left: 20px;
}

@media (max-width: 992px) {
    .orderhistory-content, .orderhistory-load-more {
        background-color: white;
    }

    h4 {
        font-size: 1rem;
    }
}

@media (min-width: 991px) {
    .orderhistory-content, .orderhistory-load-more {
        background-color: #f5f5f5;
    }

    h4 {
        font-size: 1.35rem;
    }
}

p {
    margin-bottom: 0;
}

#orderhistory_load_more {
    background: linear-gradient(105deg, #FE5000 calc(60% - 1px), #3b3b3b 60%);
}

@media (max-width: 575px) {
    .bg-card {
        max-height: 200px;
    }

    .card-number {
        font-size: 12px !important;
        letter-spacing: 5px;
        margin-left: 1.75rem;
        margin-right: 1.75rem;
    }

    .card-details {
        margin-top: 30px !important;
    }
    

    .card-details.mastercard {
        margin-top: 25px !important;
    }

    .card-holder {
        margin-left: 30px !important;
    }

    .card-holder.mastercard {
        font-size: 13px;
    }

    .card-expiry {
        margin-right: 5px !important;
    }

    .card-expiry.mastercard {
        font-size: 13px;
    }
}

@media (min-width: 992px) {

    .card-container { 
        margin-left: -15px;
        margin-right: 15px;
    }

    .card-number {
        margin-top: 1rem;
        margin-left: 3.5rem;
        letter-spacing: 7px;
    }
}

.bg-card {
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
}

.card-index {
    background-color: white;
    height: 20px;
    width: 20px;
    border-radius: 10px;
}

.orderhistory-info {
    background-color: #f5f5f5;
}