.referral-start {
    background-color: #e2e1df;
}

@media (max-width: 991px) {
    .referral-banner {
        background-position: -500px;
    }

    .bg-shade {
        background:rgba(0,0,0,0.5);
    }

    .referral-start {
        background: linear-gradient(to bottom, #efefef 50%, white 50%);
    }
}