label {
    opacity: 0.5;
}

.bord-bot {
    border-bottom: 1px solid rgba(0, 0, 0, .15);
}

.fa-angle-right {
    -webkit-text-stroke: 1px white;
    color: black;
}

.dashboard-content, .dashboard-details {
    background-color: #f5f5f5;
}

.btn-black {
    display: block;
    border: none;
    background-color: #fe5000 !important;
    color: white !important;
    padding: 5% 4% !important;
    cursor: pointer;
    text-align: center;
    font-size: 16px;
    color: white;
    margin: auto;
    width: 100%;
}

.btn-black:hover {
    color: white !important;
}

.plan-column-show{
    position: absolute;
    bottom: 22%;
}
.plan-column-show-v2{
    position: relative;
}

.btn-load-more-v2{
    border: solid 2px #FE5000 !important;
    border-radius: 5px;
    background: rgba (255, 255, 255, 0);
    padding: 2% 8%;
    cursor: pointer;
    text-align: center;
    font-size: 16px !important;
    margin: auto;
    background-color: #FE5000 !important;
    color: white !important;
}

@media (max-width: 500px){
    .btn-load-more-v2 {
        width: 100%;
    }
}
@media (max-width: 1091px) {
    .plan-column-show{
    position: relative;
    }
}

@media (max-width: 991px) {
    /*
    .dashboard-content {
        background: linear-gradient(80deg, #f87d15 30%, #f94f01);
    }
    */
}

@media (min-width: 992px) {
    .dashboard-content {
        padding-top: 70px;

    }

    .dashboard-details {
        padding-bottom: 40px;
    }
}
