.item-selected{
    background-color: #ff5001;
    border: 2px #ff5001 solid;
    border-radius: 10px;
    color: #fff;
    position: relative;
}

.item-unselected{
    background-color: white;
    border: 1px black solid;
    border-radius: 10px;
}

.custom-checkbox span {
    border: 2px solid black;
    border-radius: 5px !important;
}

.custom-checkbox input:checked + span:before {
    content: "✔";
    color: #ff5001 !important;
    font-size: 1rem;
}

@media (max-width: 991px) {
    .btn-start {
        border-radius: 0px;
    }
}

@media (min-width: 992px) {
    .h-64-lg {
        height: 64px;
    }
}