.paddBtn {
    width: 100%;
}

@media (max-width: 991px) {
    .paddBtn {
        padding: 15px;
    }
}

@media (min-width: 992px) { 
    .paddBtn {
        padding: 30px;
    }
}

.custom-select {
    background-size: 25px 25px; 
    text-align-last: center;
    text-indent: 20px;
}
@media (max-width: 450px) { 
    #day_of_birth {
        background-position: right;
        text-indent: 6px;
    }
    #month_of_birth {
        background-position: right;
        text-indent: 6px;
    }
    #year_of_birth {
        background-position: right;
        text-indent: 6px;
    }
    .day_of_birth_div{
       padding-right: 0;
    }
    .month_of_birth_div{
        padding-left: 5px;
        padding-right: 5px;
     }
     .year_of_birth_div{
        padding-left: 0;
     }
}