.btn-submit {
    background-color: #fe5000;
    color: white;
    border: none;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 30px;
    width: 60%;
}
    
.form-control {
    border-color: #8e979e;
}

.help-topics a {
    font-weight: 700;
}

.help-topics h4, .col-6 {
    margin-bottom: 15px;
}

.company-info {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.company-info p {
    margin-bottom: 0;
}