.item-selected .frequency-p{
    color: black;
}

.hidden{
    display: none;
}

.panel-heading-selected {
    background-color: #323232;
}

.panel-heading-unselected {
    background-color: white;
}

.panel-title-selected {
    color: white;
}

.panel-title-unselected {
    color: black;
}

.item-selected{
    border: 2px #ff5001 solid;
    border-radius: 10px;
    color: #ff5001;
    position: relative;
}

.modal-dialog{
max-width: 600px !important;
}
.modal-trial-plan-text{
    line-height: 1.5 !important;
}
.modal-trial-plan-text-a{
    color: #ff5001 !important;
}
.modal-header-trial-plan-exist{
    border:none !important;
    }
.modal-footer-btn{
    text-align: center;
}

@media screen and (min-width: 992px) {
    .item-selected {
        /*background-color: #ff5001;*/
    }

    .pt-lg-5 {
        padding-top: 5rem;
    }

    .or-fs{
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 991px) {
    .item-selected{
        /*background: linear-gradient(-135deg, #ff5001 40px, #ececec 0);*/
        color: black;
    }

    .tick-mark {
        height: 0.9rem;
    }

    #proceed-checkout, #button-next {
        width: 100% !important;
        border-radius: 0 !important;
    }

    .or-fs{
        font-size: 1.1rem;
    }
}

.item-unselected{
    background-color: #d4d4d4;
    border: 2px #cccccc solid;
    border-radius: 10px;
    position: relative;
}

.item-unselected-blade{
    background-color: white;
    border: 2px #cccccc solid;
    border-radius: 5px;
}

.tick-mark{
    position: absolute;
    top:9px;
    right: 9px;
}

#collapse4 .tick-mark {
    top: 4px;
    right: 4px;
}

.product-group-title{
    font-weight: bold;
    text-align: center;
}

.button-proceed-checkout{
    background-color: #ff5001;
    color: white;
    border: none;
    border-radius: 5px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 30px;
    width: 12rem;
}

.button-proceed-checkout-mobile{
    background-color: #ff5001;
    color: white;
    border: none;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 100%;
}

.button-back{
    color: #ff5001;
    background-color: transparent;
    border: 0px;
    font-size: 15px;
    margin-top: 14px;
    margin-bottom: 14px;
}

.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
    background-color: #8f989d;
    color: white;
}

.fa-remove {
    margin-top: -3px;
    margin-left: -1px;
}

button:focus {outline:0 !important;}

.display-none{
    display: none;
}

.ships-today {
    border: 1px solid #FE5000;
    border-radius: 10px 10px 0 0;
    border-bottom: none;
}

.ships-today-total {
    background-color: #FE5000;
    border: 1px solid #FE5000;
    border-radius: 0 0 10px 10px;
    border-top: none;
}

.ships-next {
    border: 1px solid #8f989d;
    border-radius: 10px 10px 0 0;
    border-bottom: none;
}

.ships-next-total {
    background-color: #eaeaea;
    border: 1px solid #8f989d;
    border-radius: 0 0 10px 10px;
    border-top: none;
}

.text-item{
    font-size: 15px;
}

.trial-start-btn {
    text-align: center;
    color: white;
    margin: auto;
    margin-bottom: 2rem;
    font-size: 20px;
    width: 300px;
    padding: 14px 28px;
    border: none;
    background-color: #FE5000;
    border-radius: 5px;
}

.tk-comp-font {
    font-size: 20px;
}

.trial-kit-title {
    font-size: 2.5rem;
}

.bord-thin{
    border-top:1px solid #dfdfdf;
    border-bottom:1px solid #dfdfdf;
}

.bord-thick{
    color:#ef5411;
}

.bord-thick-white{
    border-top:4px solid #fff;
    border-bottom:4px solid #fff;
}

.product-name{
    font-size:1.6rem;
}

.product-desc{
    font-size:1.3rem;
}

.handle-small-heading{
    color:#ef5411;
    font-size:1rem;
}

.handle-big-heading{
    font-size:2rem;
}

@media screen and (max-width: 1024px) {
    .tk-comp-font {
        font-size: 17px;
    }
    

    .handle-big-heading{
        font-size:1.35rem;
        margin-top: 30px;
    }
}

@media screen and (min-width: 768px) {
    .md-img-width {
        width: 30%;
    }
}

@media screen and (max-width: 576px) {
    .tk-comp-font {
        font-size: 0.7rem;
    }

    .trial-kit-title {
        font-size: 1.7rem;
    }

    .trial-start-btn {
        text-align: center;
        color: white;
        font-size: 20px;
        width: 100%;
        margin-bottom: 0rem;
        padding: 14px 28px;
        border: none;
        border-radius: 0px;
    }
}

@media screen and (max-width: 400px) {
    .frequency-box-m{
        height: 180px;
    }

}

@media screen and (max-width: 320px) {
    .special-col {
        display: block;
        max-width: 100% !important;
        width: 220px !important;
        float: none;
        margin: 0 auto;
        flex: none !important;
    }

    .tk-comp-font {
        font-size: 16px;
    }
}

#accordionSummary .fa-angle-right {
    font-size: 1.575rem;
    color: black;
}

.m-auto {
    margin: 0 auto;
}

.w-70{
    width: 70%;
}

.w-60 {
    width: 60%;
}

.w-50 {
    width: 50%;
}

.w-34 {
    width: 34%;
}

.w-30 {
    width: 30%;
}


.pb-10 {
    padding-bottom: 10px
}

.pl-30 {
    padding-left: 30px;
}

#mobile-button{
    position: -webkit-sticky;
    position: fixed;
    bottom: 0;
    width: 100vw;
    margin-left: -50vw;
    left: 50%;
    margin-bottom: 0 !important;
}