.hidden{
    display: none;
}

#button-next, #form-pay, #form-pay-kr{
    /* position: -webkit-sticky;
    position: fixed; */
    bottom: 0;
    left: 0;
    width: 100%;
    margin-bottom: 0 !important;
}

.address-billing-checkbox {
    height:20px;
}

.panel-heading-selected {
    background-color: white;
}

.input-group-addon .fa-angle-right {
    -webkit-text-stroke: 1px white;
    color: black;
    font-size: 2rem !important;
}

.form-control {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #dee2e6!important;
}

.item-selected{
    border: 2px #ff5001 solid;
    border-radius: 5px;
    color: #ff5001;
    position: relative;
}
.item-selected .frequency-p{
    color: black;
}

.item-unselected-no-stock{
    background-color: #ececec;
    border: 2px #cccccc solid;
    border-radius: 5px;
}

.item-unselected{
    background-color: #ececec;
    border: 2px #cccccc solid;
    border-radius: 5px;
}

.panel-heading-unselected {
    background-color: white;
}

.panel-title-selected {
    color: black;
}

.panel-title-unselected {
    color: black;
}

.button-back {
    color: tomato;
    background-color: transparent;
    border: 0px;
    font-size: 15px;
    margin-top: 14px;
    margin-bottom: 14px;
}

.panel-collapse {
    background-color: #eaeaea !important;
}

.panel-collapse-white {
    background-color: white !important;
}

button:focus {
    outline: 0 !important;
}

.display-none {
    display: none;
}

.box-white {
    background-color: white;
    border: 1px white solid;
    border-radius: 20px;
    padding: 20px;
}

input {
    background-color: white;
    padding: 5px;
    width: 100%;
}

.button-edit-account {
    background-color: white;
    color: black;
    border-color: tomato;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    width: 100%;
}

.button-proceed-checkout {
    background-color: #FE5000;
    color: white;
    border-color: #FE5000;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 30px;
    width: 100%;
}

.grey-bg{
    background-color: #eaeaea !important
}

.checkout-content-desktop {
    background-color: #eaeaea !important;
}

.bg-card {
    background-repeat: no-repeat;
    background-size: contain;
    /* background-position: contain; */
}


.card-index {
    background-color: white;
    height: 20px;
    width: 20px;
    border-radius: 10px;
    margin-top: 10px;
}

.card-number {
    letter-spacing: 5px;
}

.custom-image {
    max-width: 50% !important;
    height: auto !important;
    margin-left: 20px !important;
}

.modal-dialog{
    max-width: 600px !important;
    }
    .modal-trial-plan-text{
        line-height: 1.5 !important;
    }
    .modal-trial-plan-text-a{
        color: #ff5001 !important;
    }
    .modal-header-trial-plan-exist{
        border:none !important;
        }

        .model-mask-selection{
            max-width: 640px !important;
        }
        .button-proceed-checkout{
            background-color: #ff5001;
            color: white;
            border: none;
            border-radius: 5px;
            padding-top: 15px;
            padding-bottom: 15px;
            margin-bottom: 30px;
            width: 12rem;
            cursor: pointer;
        }
        
        .button-proceed-checkout-cancel{
            border: solid 2px black !important;
            border-radius: 5px;
            background: rgba (255, 255, 255, 0);
            color: black !important;
            padding-top: 13px;
            padding-bottom: 13px;
            margin-bottom: 30px;
            width: 12rem;
            cursor: pointer;
        
        }     
@media (max-width: 767px) {
    .btn-load-more {
        width: 100% !important;
        font-size: 12px !important;
    }

    .btn-load-more-fb {
        width: 100% !important;
        font-size: 12px !important;
    }

    .img-mask-selection{
        width: 70% !important;
    }
    
    .button-proceed-checkout-cancel {
        margin-bottom: 15px !important;
    }
}
