.authenticated-navbar, .auth-dropdown {
    background-color: black;
}

.authenticated-navbar .nav-item {
    padding: 15px;
}

.authenticated-navbar .nav-link.active {
    color: #FF5001 !important;
    font-weight: 700;
}

#authenticated_nav_collapse {
    position: absolute;
    top: 12px;
    right: 0px;
}

.authenticated-navbar .collapsing {
    -webkit-transition: none;
    transition: none;
    display: none;
}

#authenticated_nav_collapse:not(.collapsed) .fa.fa-caret-down {
    -webkit-transform: rotate(-180deg);    
    -moz-transform: rotate(-180deg);        
    -o-transform: rotate(-180deg);          
    -ms-transform: rotate(-180deg);         
    transform: rotate(-180deg);    
    transition-duration: 0.4s;
}

#authenticated_nav_collapse.collapsed .fa.fa-caret-down {
    -webkit-transform: rotate(0deg);    
    -moz-transform: rotate(0deg);        
    -o-transform: rotate(0deg);          
    -ms-transform: rotate(0deg);         
    transform: rotate(0deg);    
    transition-duration: 0.4s;
}

#navbarSupportedContent_authenticated .nav-link:not(.active) {
    color: white !important;
}

.button-back{
    color: #ff5001;
    background-color: transparent;
    border: 0px;
    font-size: 15px;
    margin-top: 14px;
    margin-bottom: 14px;
}

.form-control {
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
    border-radius: 0 !important;
}

.bg-card {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left;
}

.bg-card-profile {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.bg-card-order-history {
    background-repeat: no-repeat;
    background-size: 75% 100%;
    background-position: center;
}

.card-index {
    background-color: white;
    height: 20px;
    width: 20px;
    border-radius: 10px;
}

select.form-control {
    background-size: 20px 11px;
}

.modal-dialog {
    max-width: 960px !important;
}


.btn-cancel {
    border: solid 2px black !important;
    border-radius: 5px;
    background: rgba (255, 255, 255, 0);
    padding: 14px 28px;
    cursor: pointer;
    text-align: center;
    font-size: 16px !important;
    color: black !important;
    margin: auto;
}

@media (max-width: 991px) {

    .authenticated-navbar .container {
        max-width: 100%;
        margin: 0px;
    }

    .authenticated-navbar .nav-item {
        width: 100%;
        text-align: center;
    }

    .auth-dropdown {
        width: calc(100% + 2px);
    }

    .auth-dropdown .dropdown-item {
        width: calc(100% - 96px);
    }

    .padd-md-15 {
        padding: 15px;
    }

    .pr-md-30 {
        padding-right: 30px;
    }

    .fa-angle-right {
        font-size: 2rem;
    }
}

@media (min-width: 767px) {
    .bord-top-md {
        border-top: 1px solid rgba(0, 0, 0, .15);
    }

    .bord-bot-md {
        border-bottom: 1px solid rgba(0, 0, 0, .15);
    }

    .bord-right-md {
        border-right: 1px solid rgba(0, 0, 0, .15);
    }
}

@media (min-width: 992px) {
    .padd-lg-50 {
        padding: 50px;
    }

    .padd-lg-30 {
        padding: 30px;
    }

    .marg-lg-0 {
        margin: 0px;
    }

    .bord-top-lg {
        border-top: 1px solid rgba(0, 0, 0, .15);
    }

    .bord-bot-lg {
        border-bottom: 1px solid rgba(0, 0, 0, .15);
    }

    .bord-right-lg {
        border-right: 1px solid rgba(0, 0, 0, .15);
    }

    .pr-lg-50 {
        padding-right: 50px !important;
    }

    .pr-lg-100 {
        padding-right: 100px;
    }

    .current-page {
        display: block !important;
    }

    #navbarSupportedContent_authenticated {
        margin-top: 0 !important;
    }
}