
@media screen and (min-width: 1025px) {

    .referral_banner_footer {
        position: fixed;
        bottom: 20%;
        width: 17%;
        z-index:10000;
    }
}

@media screen and (max-width: 1024px) and (min-width: 769px) {

    .referral_banner_footer {
        position: fixed;
        bottom: 20%;
        width: 25%;
        z-index:10000;
    }
}

@media screen and (max-width: 768px) and (min-width: 577px) {

    .referral_banner_footer {
        position: fixed;
        bottom: 20%;
        width: 25%;
        z-index:10000;
    }
}


@media screen and (max-width: 576px) {

    .referral_banner_footer {
        position: fixed;
        bottom: 20%;
        width: 15%;
        z-index:10000;
    }
}
