body {
    font-weight: 400;
    line-height: 1.5;
    color: #292b2c;
}

.privacy-policy-content ol>li {
    display: block;
    counter-increment: a;
    margin-bottom: .6em;
    font-size: 1.125rem;
    line-height: 1.8;
    margin-bottom: 2px;
}

.privacy-policy-content ol>li h4 {
    margin: 22px 0;
    display: inline-block;
    color: #292b2c;
    font-weight: 700;
    opacity: .5;
    font-size: 1.125rem;
    text-transform: uppercase;
}

.privacy-policy-content ol>li p {
    font-size: 1rem;
    margin-bottom: 0;
}

.privacy-policy-content ol {
    list-style-type: none;
    counter-reset: a;
    margin: 0;
    padding: 0;
    text-align: left;
}

.privacy-policy-content ol>li:before {
    content: counters(a,".") ". ";
    padding-right: 0;
    opacity: .5;
    font-weight: 700;
    font-size: 1.125rem;
}

.privacy-policy-content li ol>li {
    font-size: 0.9rem;
    display: table;
}

.privacy-policy-content li ol>li:before {
    content: counters(a,".") " ";
    display: table-cell;
    padding-right: 15px;
    opacity: 1;
    font-weight: 400;
    font-size: 0.9rem;
}

.privacy-policy-content ul {
    list-style: disc outside;
    padding-left: 30px;
    font-size: 0.9rem;
}

@media (max-width: 991px) {
    .privacy-policy-content ol>li {
        position: relative;
    }

    .privacy-policy-content ol>li h4 {
        padding-left: 40px;
    }

    .privacy-policy-content ol>li:before {
        position: absolute;
        top: 15px;
    }

    .privacy-policy-content li ol>li:before {
        position: unset;
    }
}

#list-item-contact {
    counter-reset:item;
    padding: 0;
}

#list-item-contact li {
    display: block;
    counter-reset:item 13;
    font-size: 1.35rem;
    line-height: 1.8;
    margin-bottom: 2px;
}

#list-item-contact li:before {
    content:counter(item) '. ';
    font-weight: 700;
    font-size: 1.35rem;
}

#list-item-contact li h4 {
    display: inline-block;
}

#list-item-contact li p {
    font-size: 1rem;
    margin-bottom: 0;
}