.landing-banner {
    position: relative;
    background-size: cover;
    height: 40vw;
    background-position: center;
    background-repeat: no-repeat;
}

.landing-section {
    padding-top: 60px;
    padding-bottom: 50px;
}

.landing-free-text {
    text-align: center;
    padding: 60px 0 50px 0;
    background-color: #8e979e;
}

.bg-none {
    background: none;
}

.bord-none {
    border: none;
}

.bordT-grey {
    border-top: 1px solid #c0c0c0;
}

.bordB-grey {
    border-bottom: 1px solid #c0c0c0;
}

.landing-orange-bg {
    background: linear-gradient(to bottom, #FE5000 65%, white 40%);
}

.light-grey-bg {
    background-color: #f6f6f6;
}

.margB2rem {
    margin-bottom: 2rem;
}

.margB5rem {
    margin-bottom: 5rem;
}

.get-started-font {
    margin-bottom: 5%;
    margin-top: 2%;
    font-family: Muli-ExtraBold;
    font-size: 1.7rem;
}

.get-started-sub-font {
    margin-bottom: 20%;
    margin-top: 5%;
    font-family: Muli;
    font-size: 18px;
    color: white;
}

.btn-custom {
    margin-bottom: 15px;
    font-size: 20px;
    width: 200px;
    border-radius: 0.25rem;
}

.btn-custom-banner {
    margin-bottom: 15px;
    font-size: 20px;
    width: 240px;
    border-radius: 0.25rem;
}

.product-h {
    color: #47545c;
    font-size: 2rem;
}

.product-h-black {
    color: black;
}

.product-sub-h-black {
    color: black;
    font-size: 4rem;
}

.carousel-indicators li {
    background-color: black !important;
}

.carousel-indicators li.active {
    background-color: #fff !important;
}

.carousel-indicators {
    top: 100px;
}

@media screen and (min-width: 1025px) {
    .get-started-font {
        margin-top: 9.5rem;
        color: white;
    }

    .blurb_fix {
        position: fixed;
        bottom: 20%;
        width: 17%;
    }
}

@media screen and (max-width: 1024px) and (min-width: 769px) {
    .get-started-font {
        margin-top: 6.5rem;
        color: white;
    }

    .blurb_fix {
        position: fixed;
        bottom: 20%;
        width: 25%;
    }
}

@media screen and (max-width: 768px) and (min-width: 577px) {
    .get-started-font {
        margin-top: 0.5rem;
        color: white;
    }

    .blurb_fix {
        position: fixed;
        bottom: 20%;
        width: 25%;
    }
}

@media screen and (min-width: 992px) {
    .margT4rem {
        margin-top: 5rem;
    }
}

@media screen and (max-width: 991px) and (min-width: 769px) {
    .margT4rem {
        margin-top: 2.5rem;
    }
}

@media screen and (min-width: 768px) {
    .paddLR5rem-md {
        padding-left: 5rem;
        padding-right: 5rem;
    }
}

@media screen and (max-width: 767px) {
    .landing-banner {
        background-image: url('/images/common/banner-video.png');
        height: 260px;
    }

    .landing-orange-bg {
        background: linear-gradient(to bottom, #FE5000 40%, white 30%);
    }

    .margT2rem-sm {
        margin-top: 2rem;
    }
}

@media screen and (max-width: 770px) {
    .get-started-sub-font {
        margin-bottom: 20%;
    }
}

@media screen and (max-width: 767px) {
    .get-started-font {
        color: black;
    }

    .get-started-sub-font {
        color: black;
        margin-bottom: 16%;
    }
}

@media screen and (max-width: 576px) {
    .get-started-font {
        color: black;
    }

    .get-started-sub-font {
        color: black;
    }

    .blurb_fix {
        position: fixed;
        bottom: 20%;
        width: 60%;
    }

    .carousel-indicators {
        top: 160px;
    }
}

.Muli-card-body {
    font-family: Muli;
    font-size: 15px;
    color: #828282;
}
@media only screen and (min-width: 992px) {
    #stop-the-razor .description {
        top: 35%;
    }
}
@media only screen and (min-width: 767px) and (max-width: 991px) {
    #stop-the-razor .description {
        top: 20%;
    }
}
@media only screen and (max-width:475px) {
    .fine-print {
        letter-spacing:-0.5px;
    }
}
