hr {
    border-color: black;
}

.w-80 {
    width: 80%;
}

.pointer {
    cursor: pointer;
}

.landing-banner-desktop-swivel-img {
    background-image: url('{{asset("/images/common/banner-menlanding.jpg")}}')
}

.landing-banner-tablet-swivel-img {
    background-image: url('{{asset("/images/common/banner-menlanding-tablet.jpg")}}');
    width: 100vw;
    height: 40vh;
}

.landing-banner-mobile-swivel-img {
    background-image: url('{{asset("/images/common/banner-menlanding-tablet.jpg")}}');
    width: 100vw;
    height: 35vh;
}

.landing-banner-desktop-premium-img {
    background-image: url('{{asset("/images/common/premium/banner/banner-menlanding-premium.jpg")}}')
}

.landing-banner-tablet-premium-img {
    background-image: url('{{asset("/images/common/premium/banner/banner-menlanding-tablet-premium.jpg")}}');
    width: 100vw;
    height: 40vh;
}

.landing-banner-mobile-premium-img {
    background-image: url('{{asset("/images/common/premium/banner/banner-menlanding-tablet-premium.jpg")}}');
    width: 100vw;
    height: 35vh;
}

.addon-cycle-product {
    padding-top: 2%;
    text-align: center;
    vertical-align: middle;
    background-color: #ececec;
    border: 2px #cccccc solid;
    border-radius: 5px;
}

.modal-header-addon-cycle {
    border: none !important;
}

.modal-footer-btn {
    padding-top: 4%;
    text-align: center;
    padding-bottom: 4%;
}

.btn-every-shipping {
    color: #fff;
    background-color: #ff5001;
    border-color: #ff5001;
    padding: 10px;
    margin-right: 10px;
    width: 240px;
    text-align: center;
}

.btn-every-shipping:hover {
    color: #fff;
    background-color: #ff5001;
    border-color: #ff5001;
}

.btn-one-shipping {
    color: black;
    background-color: #fff;
    border-color: black;
    padding: 10px;
    width: 240px;
    text-align: center;
}

.modal-dialog-addon-cycle {
    max-width: 640px !important;
}

.img-scale {
    margin: auto;
    width: 100%;
}

.button-proceed-checkout {
    background-color: tomato;
    color: white;
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 30px;
    width: 100%;
}

.color-grey {
    color: #828282;
}

.div-text-center {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.item-selected {
    border: 2px #ff5001 solid;
    border-radius: 5px;
    color: #ff5001;
    position: relative;
}

.item-selected .frequency-p {
    color: black;
}

.item-unselected {
    background-color: #ececec;
    border: 2px #cccccc solid;
    border-radius: 5px;
}

.addon-cycle-product {
    padding-top: 2%;
    text-align: center;
    vertical-align: middle;
    background-color: #ececec;
    border: 2px #cccccc solid;
    border-radius: 5px;
}

.add-on-price{
    text-align: right;
}

@media screen and (max-width: 768px) {
    .add-on-price{
        text-align: center;
    }
    .btn-every-shipping{
        margin-right: 0;
        margin-bottom: 5px;
    }
    .add-on-cycle-img{
        max-height: 200px;
    }
}